body{
	border-top:  2px solid black;
	border-bottom: 2px solid black;
}

div.a{
	text-align: center;	
	font-family: 'Noto Serif SC', serif;
}

h3{
	color: red;
}

img{
	height: 250px;
	width: 250px;
	border: 1px solid black;
}

h1{
	text-transform: uppercase;
}

nav{
	border: 3px solid blue;
}

#round{
	border-radius: 50%;
}