*{
	box-sizing: border-box;
	font-family: 'Lucida Grande', Helvetica;
}

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

section{
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	height: 50vh;
	width: 50vh;
	grid-gap: 4vh;
	/* vh - viewport- fraction of the browser window*/
	/* fr- fractional unit*/
}

section div{
	border: 1px solid lightgrey;
	border-radius: 10%;
}

button{
	margin: 20px;
	font-size: 20px;
	padding: 10px;
	border: 1px solid grey;
	color: grey;
	border-radius: 4px;
}